connexion[swagger-ui] == 2.15.1
swagger-ui-bundle >= 1.1.0
python_dateutil == 2.9.0.post0
setuptools >= 78.1.1
httpx == 0.28.1
python-dotenv == 1.2.1
psycopg2-binary == 2.9.11
python-keycloak == 4.7.3
pyjwt == 2.11.0
cryptography == 46.0.5
psycopg == 3.2.13
psycopg-binary == 3.2.13
psycopg[binary] == 3.2.13
pydantic == 2.12.5
SQLAlchemy == 2.0.46
werkzeug == 3.1.4
