connexion[swagger-ui] == 2.14.2
swagger-ui-bundle == 0.0.9
python_dateutil == 2.9.0.post0
setuptools >= 70.0.0
Flask == 2.2.5
httpx == 0.28.1
python-dotenv == 1.2.1
psycopg2-binary == 2.9.11
python-keycloak == 4.7.3
keycloak-client == 0.15.4
pyjwt == 2.11.0
cryptography == 44.0.0
psycopg == 3.2.13
psycopg-binary == 3.2.13
psycopg[binary] == 3.2.13
pydantic == 2.12.5
SQLAlchemy == 2.0.46
